@import '__';
@import '../button/__';

.form {
    position: relative;
    clear: both;

    h1 {
        font-family: $_f__alternate;
        color: $_c__gray2;
    }

    .input,
    textarea {
        display: block;
        box-sizing: border-box;
        padding: $_l__gap-unit (1.5 * $_l__gap-unit);
        border: 1px solid $_c__gray4;
        font-family: $_f__alternate;
        font-size: 16px;
        line-height: 24px;
        color: $_c__black;

        &::placeholder {
            color: $_c__black;
            opacity: 0.4;
        }
    }

    .file-input {
        display: block;

        input[type=file] {
            position: absolute;
            opacity: 0;

            &:focus + .button {
                text-decoration: underline;
            }
        }

        .button {
            position: relative;
            vertical-align: middle;
        }

        &.selected {

            &::after {
                content: '';
                display: inline-block;
                width: 22px;
                height: 20px;
                margin-left: $_l__gap-unit;
                vertical-align: middle;
                background: url(images/check.svg) 0 0 no-repeat;
                background-size: auto 100%;
            }

            .button {
                color: transparent;
                font-size: 0;

                &::after {
                    content: 'Выбрать другое';
                    display: inline;
                    vertical-align: top;
                    color: $button__light-text-color;
                    font-size: $button__font-size;
                }

                &:hover::after {
                    text-decoration: underline;
                }
            }
        }
    }


    .inputs-block {

        .input,
        .file-input {
            width: 100%;
        }
    }

    .textarea-block {
        position: relative;
        text-align: right; // fix for Android browser

        textarea {
            width: 100%;

            &:not(.high) {
                height: 136px;
            }

            &.high {
                height: 172px;
            }
        }

        .message {
            $font-size: 14px;
            $line-height: 20px;
            $line-count: 2;

            position: absolute;
            left: 0;
            bottom: 2px;
            width: 165px;
            height: $line-count * $line-height;
            font-size: $font-size;
            line-height: $line-height;
            text-align: left;

            &:not(.error) {
                color: $_c__black;
            }

            &.error {
                color: #f00;
            }
        }

        .button {
            vertical-align: top;
        }
    }




    @media #{$_l__w0-media} {
        $input-width: 220px;
        $item-gap-y: 2 * $_l__gap-unit;

        & {
            margin-top: 4 * $_l__gap-unit;
        }

        h1 {
            font-size: 20px;
            line-height: 32px;
            margin-bottom: $item-gap-y;
        }

        .inputs-block {
            margin-bottom: $item-gap-y;

            .input,
            .file-input {
                width: $input-width;

                & + * {
                    margin-top: $item-gap-y;
                }
            }
        }

        .textarea-block {

            textarea {
                margin-bottom: $item-gap-y;
            }
        }
    }

    @media #{$_l__w1-media} {
        $input-width: 220px;
        $input-offset-right: 2 * $_l__gap-unit;
        $input-space-x: $input-width + $input-offset-right;
        $item-gap-y: 3 * $_l__gap-unit;

        & {
            margin-top: 6 * $_l__gap-unit;
            padding-left: $input-space-x;
        }

        & + & {
            margin-top: 40px;
        }

        h1 {
            margin-left: -$input-space-x;
            font-size: 22px;
            line-height: 28px;
            margin-bottom: $item-gap-y;
        }

        .inputs-block {
            position: absolute;
            left: 0;
            width: $input-width;

            .input,
            .file-input {

                & + * {
                    margin-top: $item-gap-y;
                }
            }
        }

        .textarea-block {
            max-width: $form__w1-textarea-width-max;

            textarea {
                margin-bottom: 2 * $_l__gap-unit;
            }
        }
    }


    @media #{$_l__w2-media} {
        $input-width: 224px;
        $input-offset-right: 3 * $_l__gap-unit;
        $input-space-x: $input-width + $input-offset-right;
        $item-gap-y: 3 * $_l__gap-unit;

        & {
            margin-top: 6 * $_l__gap-unit;
            padding-left: $input-space-x;
        }

        h1 {
            margin-left: -$input-space-x;
            font-size: 28px;
            line-height: 32px;
            margin-bottom: $item-gap-y;
        }

        .inputs-block {
            position: absolute;
            left: 0;
            width: $input-width;

            .input,
            .file-input {

                & + * {
                    margin-top: $item-gap-y;
                }
            }
        }

        .textarea-block {
            width: $form__w2-textarea-width;

            textarea {
                margin-bottom: 2 * $_l__gap-unit;
            }
        }
    }
}
