@import '__';
@import '../page-text/__';

.download-block {
    $text-color: $_c__black;

    & {
        color: $text-color;
        font-family: $_f__alternate;
    }

    a {
        @include _t__link-underline-opacity($text-color);
    }


    @media #{$_l__w0-media} {
        margin-top: 2 * $_l__gap-unit;
        font-size: $page-text__w0-font-size;
        line-height: $page-text__w0-line-height;
    }

    @media #{$_l__w1-media} {
        margin-top: 3 * $_l__gap-unit;
        font-size: $page-text__w1-font-size;
        line-height: $page-text__w1-line-height;
    }

    @media #{$_l__w2-media} {
        margin-top: 7 * $_l__gap-unit;
        font-size: $page-text__w2-font-size;
        line-height: $page-text__w2-line-height;
    }
}
