$_l__gap-unit: 8px;

$_l__w0-min: 320px;
$_l__w1-min: 600px;
$_l__w2-min: 960px;
$_l__w0-max: $_l__w1-min - 1px;
$_l__w1-max: $_l__w2-min - 1px;
$_l__w0-media: 'screen and (max-width: #{$_l__w0-max})';
$_l__w1-media: 'screen and (min-width: #{$_l__w1-min}) and (max-width: #{$_l__w1-max})';
$_l__w2-media: 'screen and (min-width: #{$_l__w2-min})';
$_l__w1-w2-media: 'screen and (min-width: #{$_l__w1-min})';

$_l__w0-canvas-offset-x: $_l__gap-unit;
$_l__w0-header-pad-x: 2 * $_l__gap-unit;
$_l__w1-canvas-offset-x: 2 * $_l__gap-unit;
$_l__w1-header-pad-x: $_l__w1-canvas-offset-x;
$_l__w2-canvas-width: 928px;

$_l__header-height-base: 6 * $_l__gap-unit;
$_l__footer-height: 6 * $_l__gap-unit;


html,
body {
    height: 100%;
}

.layout-wrapper {
    min-width: $_l__w0-min;
    min-height: 100%;
    overflow-x: hidden;
    margin-bottom: -$_l__footer-height;

    &::after {
        content: '';
        display: block;
        clear: both;
        height: $_l__footer-height;
    }
}
