.reviews-block {
    $text-color: $_c__gray3;

    & {
        background-color: $_c__gray7;
    }

    .items-list {
        display: flex;

        .reviews-item {
            position: relative;

            .image {
                position: absolute;
                left: 0;
                top: 0;
            }

            .text {
                @include reviews-item__text-color($text-color);
                font-size: 14px;
                line-height: 20px;
            }
        }
    }


    @media #{$_l__w0-media} {
        $container-offset-x: $_l__w0-canvas-offset-x;
        $container-pad-y: 3 * $_l__gap-unit;
        $image-size: $reviews-item__w0-image-size;
        $image-offset-x: $_l__gap-unit;

        & {
            margin-left: -$container-offset-x;
            margin-right: -$container-offset-x;
            margin-top: 44px;
            padding-left: $container-offset-x;
            padding-right: $container-offset-x;
            padding-top: $container-pad-y;
            padding-bottom: $container-pad-y;
        }

        .items-list {
            flex-wrap: wrap;

            .reviews-item {
                min-height: $image-size;
                padding-left: $image-size + $image-offset-x;

                & + .reviews-item {
                    margin-top: 2 * $_l__gap-unit;
                }
            }
        }
    }

    @media #{$_l__w1-media} {
        $container-offset-x: $_l__w1-canvas-offset-x;
        $container-pad-y: 4 * $_l__gap-unit;
        $image-size: $reviews-item__w1-image-size;
        $image-offset-x: 2 * $_l__gap-unit;

        & {
            margin-left: -$container-offset-x;
            margin-right: -$container-offset-x;
            margin-top: 6 * $_l__gap-unit;
            padding-left: $container-offset-x;
            padding-right: $container-offset-x;
            padding-top: $container-pad-y;
            padding-bottom: $container-pad-y;
        }

        .items-list {
            flex-wrap: wrap;

            .reviews-item {
                min-height: $image-size;
                padding-left: $image-size + $image-offset-x;

                & + .reviews-item {
                    margin-top: 4 * $_l__gap-unit;
                }
            }
        }
    }

    @media #{$_l__w2-media} {
        $container-offset-x: 20000px;
        $container-pad-y: 41px;
        $image-size: $reviews-item__w1-image-size;
        $image-offset-x: 2 * $_l__gap-unit;

        & {
            margin-left: -$container-offset-x;
            margin-right: -$container-offset-x;
            margin-top: 7 * $_l__gap-unit;
            padding-left: $container-offset-x;
            padding-right: $container-offset-x;
            padding-top: $container-pad-y;
            padding-bottom: $container-pad-y;
        }

        .items-list {
            justify-content: space-between;

            .reviews-item {
                width: 336px;
                min-height: $image-size;
                padding-left: $image-size + $image-offset-x;
            }
        }
    }
}
