@import '../_base/__';

$page-text__w0-font-size: 14px;
$page-text__w0-line-height: 20px;

$page-text__w1-font-size: 15px;
$page-text__w1-line-height: 22px;

$page-text__w2-font-size: 16px;
$page-text__w2-line-height: 24px;
