<form class="form" method="post" enctype="multipart/form-data">
    <h1>Оставьте свой отзыв о книге</h1>
    <div class="inputs-block">
        <input class="input" type="text" name="name" placeholder="Ваше имя" required>
        <input class="input" type="email" name="email" placeholder="Ваш email" required>
        <span class="file-input">
            <input type="file" name="photo" id="photo">
            <label class="button light" for="photo">Добавить фото</label>
        </span>
    </div>
    <div class="textarea-block">
        <textarea class="high" name="text" placeholder="Ваше сообщение" required></textarea>
        <div class="message">Ваш отзыв отправлен. Спасибо!</div>
        <button class="button" type="submit">Отправить</button>
    </div>
</form>
