{% capture devnull %}
    {% assign form_id = 'contact' %}
    {% assign communication_type = 'Сообщение' %}
    {% capture success_message %}{% include _i18n.html ru='Сообщение отправлено. Спасибо!' en='Message sent. Thank you!' %}{% endcapture %}
    {% capture form_url %}{% include form/url.html %}{% endcapture %}
    {% assign form_url = form_url | strip %}
{% endcapture %}
<form class="form" id="{{ form_id }}" action="{{ form_url }}" method="post">
    <h2 class="form-title">{% include _i18n.html ru='Напишите мне' en='Еmail me' %}</h2>
    <div class="inputs-block">
        <input type="hidden" name="type" value="{{ communication_type }}">
        {% include form/redirect-to.html form_id=form_id %}
        <input class="input" type="text" name="name" placeholder="{% include _i18n.html ru='Ваше имя' en='Your name' %}" required>
        <input class="input" type="email" name="email" placeholder="{% include _i18n.html ru='Ваш email' en='Your email' %}" required>
    </div>
    <div class="textarea-block">
        <textarea name="text" placeholder="{% include _i18n.html ru='Ваше сообщение' en='Your message' %}" required></textarea>
        <div class="message"></div>
        <button class="button" type="submit">{% include _i18n.html ru='Отправить' en='Submit' %}</button>
    </div>
    {% include form/handler.html form_id=form_id success_message=success_message %}
</form>
