<form class="form" method="post">
    <h1>Напишите мне / Еmail me</h1>
    <div class="inputs-block">
        <input class="input" type="text" name="name" placeholder="Ваше имя / Your name" required>
        <input class="input" type="email" name="email" placeholder="Ваш email / Your email" required>
    </div>
    <div class="textarea-block">
        <textarea name="text" placeholder="Ваше сообщение / Your message" required></textarea>
        <div class="message error">Пожалуйста, заполните все поля</div>
        <button class="button" type="submit">Отправить</button>
    </div>
</form>
