<section class="intro-block">
    <h1>
        <a href="{{ site.baseurl }}/">Олег Туманов</a>
    </h1>
    <article>
        <q>Каждый, так или иначе, создает свой мир, свою среду обитания. Кто-то осознанно, кто-то ведом другими. Мой
            выбор был осознанный, но не быстрый…</q>
        <a href="{{ site.baseurl }}/author/">Подробнее об авторе</a>
    </article>
    <article>
        <q>Everybody is creating his (or her) own world, his environment. Someone does it by making conscious decisions,
            someone is led by others. My choice was well thought but it was not quick…</q>
        <a href="{{ site.baseurl }}/author_eng/">About the person</a>
    </article>
</section>
