<div class="page-teasers">
    <article>
        <a href="{{ site.baseurl }}/book/"><img src="{{ site.baseurl }}/assets/images/page-teasers/book.jpg" alt=""></a>
        <h1><a href="{{ site.baseurl }}/book/">Книга</a></h1>
        <div>Задумывались ли вы над тем, что всего несколько постулатов полностью определяют вашу жизнь, ощущение ее
            полноты, осмысленности, направленности, результативности, гармонии в отношениях с другими и
            удовлетворенности от самого себя?</div>
        <a class="button light" href="{{ site.baseurl }}/book/">Подробнее</a>
    </article>
    <article>
        <a href="http://music.olegtumanov.com/" target="_blank"><img src="{{ site.baseurl }}/assets/images/page-teasers/music.jpg" alt=""></a>
        <h1><a href="http://music.olegtumanov.com/" target="_blank">Музыка</a></h1>
        <div>Музыка же — это важная часть моего пути, моего понимания гармонии и красоты. Искусство композитора —
            сродни науке, открывающей законы красоты, и моя музыка — это также взгляд на мир и мой способ поделиться
            своими открытиями.</div>
        <a class="button light" href="http://music.olegtumanov.com/" target="_blank">Подробнее</a>
    </article>
</div>
