<aside class="purchase-block">
    <figure class="book-front"><img src="{{ site.baseurl }}/assets/images/purchase-block/book-front.png" alt=""></figure>
    <div class="sellers">
        <h1>Купить книгу</h1>
        <ul>
            <li><a href="#"><img src="{{ site.baseurl }}/assets/images/purchase-block/seller-litres.png" alt="ЛитРес"></a></li>
            <li><a href="#"><img src="{{ site.baseurl }}/assets/images/purchase-block/seller-ozon.png" alt="Ozon.Ru"></a></li>
            <li><a href="#"><img src="{{ site.baseurl }}/assets/images/purchase-block/seller-amazon.png" alt="Amazon"></a></li>
        </ul>
    </div>
    <figure class="book-back"><img src="{{ site.baseurl }}/assets/images/purchase-block/book-back.png" alt=""></figure>
</aside>
