<aside class="purchase-block{% if include.dynamic %} dynamic{% endif %}">
    <figure class="book-front"><img src="{{ site.baseurl }}/assets/images/purchase-block/book-front.jpg" alt=""></figure>
    <div class="sellers">
        <h2 class="block-title">{% include _i18n.html ru='Купить книгу' en='Buy now' %}</h2>
        <ul>
            <li><a href="http://www.litres.ru/oleg-tumanov-8794140/vyberi-sebya/" target="_blank"><img src="{{ site.baseurl }}/assets/images/purchase-block/seller-litres.png" alt="ЛитРес"></a></li>
            <li><a href="https://www.ozon.ru/context/detail/id/136470214/" target="_blank"><img src="{{ site.baseurl }}/assets/images/purchase-block/seller-ozon.png" alt="Ozon.Ru"></a></li>
            <li><a href="https://www.amazon.com/x412-x44B-x431-x435-Russian-ebook/dp/B01FUJ675W/ref=sr_1_1?ie=UTF8&qid=1468405305&sr=8-1&keywords=%D0%9E%D0%BB%D0%B5%D0%B3+%D0%A2%D1%83%D0%BC%D0%B0%D0%BD%D0%BE%D0%B2" target="_blank"><img src="{{ site.baseurl }}/assets/images/purchase-block/seller-amazon.png" alt="Amazon"></a></li>
        </ul>
    </div>
    <figure class="book-back"><img src="{{ site.baseurl }}/assets/images/purchase-block/book-back.jpg" alt=""></figure>
</aside>
