@import '__';

.button {
    display: inline-block;
    border: solid $button__stroke-size;
    border-radius: $button__rounding;
    padding: $button__pad-y $button__pad-x;
    font-size: $button__font-size;
    line-height: $button__line-height;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }

    &:not(.light) {
        border-color: $button__normal-stroke-color;
        background-color: $button__normal-bg-color;
        color: $button__normal-text-color;
    }

    &.light {
        border-color: $button__light-stroke-color;
        background-color: $button__light-bg-color;
        color: $button__light-text-color;
    }
}
