@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic|PT+Serif:400,700&subset=latin,cyrillic);
html,
body {
  margin: 0;
  padding: 0;
  font-size: 100%; }

html {
  -webkit-text-size-adjust: 100%; }

header, footer, nav, section, article, main, aside, figure, figcaption, mark,
div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, ul, ol, li, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd,
q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, br {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none; }

main {
  display: block; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

cite {
  font-style: normal; }

ol, ul, li {
  list-style: none; }

body {
  line-height: 1; }

blockquote,
q {
  quotes: none; }
  blockquote:before, blockquote:after,
  q:before,
  q:after {
    content: '';
    content: none; }

:focus {
  outline: 0; }

a {
  color: inherit; }

a img {
  border: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type='text'],
input[type='password'],
input[type='email'],
input[type='search'] {
  -webkit-appearance: none; }

input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none; }

input[type='search']::-webkit-search-cancel-button {
  display: none; }

input::-ms-clear {
  width: 0;
  height: 0;
  opacity: 0; }

button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  width: auto;
  overflow: visible; }

button::-moz-focus-inner,
input[type='submit']::-moz-focus-inner,
input[type='reset']::-moz-focus-inner,
input[type='button']::-moz-focus-inner {
  border: 0;
  padding: 0; }

html,
body {
  height: 100%; }

.layout-wrapper {
  min-width: 320px;
  min-height: 100%;
  overflow-x: hidden;
  margin-bottom: -48px; }
  .layout-wrapper::after {
    content: '';
    display: block;
    clear: both;
    height: 48px; }

body {
  background-color: #fff;
  font-family: Roboto, Arial, Helvetica, FreeSans, sans-serif; }

.button {
  display: inline-block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 128px;
  border: solid 1px;
  border-radius: 6px;
  padding: 12px 16px;
  font-size: 17px;
  line-height: 20px;
  cursor: pointer; }
  .button:hover {
    text-decoration: underline; }
  .button:not(.light) {
    border-color: #000;
    background-color: #000;
    color: #fff; }
  .button.light {
    border-color: #9c9c9c;
    background-color: #fff;
    color: #232222; }

.download-block {
  color: #000;
  font-family: "PT Serif", "Times New Roman", Times, FreeSerif, serif; }

.download-block a {
  text-decoration: underline;
  -webkit-text-decoration-color: rgba(0, 0, 0, 0.3);
  -moz-text-decoration-color: rgba(0, 0, 0, 0.3);
  text-decoration-color: rgba(0, 0, 0, 0.3); }

.download-block a:hover {
  -webkit-text-decoration-color: #000;
  -moz-text-decoration-color: #000;
  text-decoration-color: #000; }

@media screen and (max-width: 599px) {
  .download-block {
    margin-top: 16px;
    font-size: 14px;
    line-height: 20px; } }

@media screen and (min-width: 600px) and (max-width: 959px) {
  .download-block {
    margin-top: 24px;
    font-size: 15px;
    line-height: 22px; } }

@media screen and (min-width: 960px) {
  .download-block {
    margin-top: 56px;
    font-size: 16px;
    line-height: 24px; } }

.footer {
  height: 48px;
  background-color: #f9f9f9;
  text-align: center; }

.footer .copyright {
  display: block;
  height: 16px;
  padding-top: 16px;
  color: #000;
  opacity: 0.8;
  font-size: 14px;
  line-height: 16px; }

.form {
  position: relative;
  clear: both; }
  .form .form-title {
    font-family: "PT Serif", "Times New Roman", Times, FreeSerif, serif;
    color: #292929; }
  .form .input,
  .form textarea {
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 8px 12px;
    border: 1px solid #9c9c9c;
    font-family: "PT Serif", "Times New Roman", Times, FreeSerif, serif;
    font-size: 16px;
    line-height: 24px;
    color: #000; }
    .form .input::-webkit-input-placeholder,
    .form textarea::-webkit-input-placeholder {
      color: #000;
      opacity: 0.4; }
    .form .input::-moz-placeholder,
    .form textarea::-moz-placeholder {
      color: #000;
      opacity: 0.4; }
    .form .input:-ms-input-placeholder,
    .form textarea:-ms-input-placeholder {
      color: #000;
      opacity: 0.4; }
    .form .input::placeholder,
    .form textarea::placeholder {
      color: #000;
      opacity: 0.4; }
  .form .file-input {
    display: block; }
    .form .file-input input[type=file] {
      position: absolute;
      opacity: 0; }
      .form .file-input input[type=file]:focus + .button {
        text-decoration: underline; }
    .form .file-input .button {
      position: relative;
      vertical-align: middle; }
    .form .file-input.selected::after {
      content: '';
      display: inline-block;
      width: 22px;
      height: 20px;
      margin-left: 8px;
      vertical-align: middle;
      background: url(../images/form/check.svg) 0 0 no-repeat;
      background-size: auto 100%; }
    .form .file-input.selected .button {
      color: transparent;
      font-size: 0; }
      .form .file-input.selected .button::after {
        content: 'Выбрать другое';
        display: inline;
        vertical-align: top;
        color: #232222;
        font-size: 17px; }
      .form .file-input.selected .button:hover::after {
        text-decoration: underline; }
  .form .inputs-block .input,
  .form .inputs-block .file-input {
    width: 100%; }
  .form .textarea-block {
    position: relative;
    text-align: right; }
    .form .textarea-block textarea {
      width: 100%; }
      .form .textarea-block textarea:not(.high) {
        height: 136px; }
      .form .textarea-block textarea.high {
        height: 172px; }
    .form .textarea-block .message {
      position: absolute;
      left: 0;
      bottom: 2px;
      width: 165px;
      height: 40px;
      font-size: 14px;
      line-height: 20px;
      text-align: left; }
      .form .textarea-block .message:not(.error) {
        color: #000; }
      .form .textarea-block .message.error {
        color: #f00; }
    .form .textarea-block .button {
      vertical-align: top; }
  @media screen and (max-width: 599px) {
    .form {
      margin-top: 32px; }
      .form .inputs-block {
        margin-bottom: 16px; }
      .form .form-title {
        margin-bottom: 16px; }
      .form .inputs-block {
        width: 220px; }
        .form .inputs-block .input + .input,
        .form .inputs-block .input + .file-input,
        .form .inputs-block .file-input + .input,
        .form .inputs-block .file-input + .file-input {
          margin-top: 16px; }
      .form .textarea-block textarea {
        margin-bottom: 16px; }
    .form .form-title {
      font-size: 20px;
      line-height: 32px; } }
  @media screen and (min-width: 600px) and (max-width: 959px) {
    .form {
      margin-top: 48px; }
      .form {
        padding-left: 236px; }
      .form .form-title {
        margin-left: -236px; }
      .form .inputs-block {
        position: absolute;
        left: 0; }
      .form .form-title {
        margin-bottom: 24px; }
      .form .inputs-block {
        width: 220px; }
        .form .inputs-block .input + .input,
        .form .inputs-block .input + .file-input,
        .form .inputs-block .file-input + .input,
        .form .inputs-block .file-input + .file-input {
          margin-top: 24px; }
      .form .textarea-block textarea {
        margin-bottom: 16px; }
    .form .form-title {
      font-size: 22px;
      line-height: 28px; }
    .form .textarea-block {
      max-width: 456px; } }
  @media screen and (min-width: 960px) {
    .form {
      margin-top: 48px; }
      .form {
        padding-left: 248px; }
      .form .form-title {
        margin-left: -248px; }
      .form .inputs-block {
        position: absolute;
        left: 0; }
      .form .form-title {
        margin-bottom: 24px; }
      .form .inputs-block {
        width: 224px; }
        .form .inputs-block .input + .input,
        .form .inputs-block .input + .file-input,
        .form .inputs-block .file-input + .input,
        .form .inputs-block .file-input + .file-input {
          margin-top: 24px; }
      .form .textarea-block textarea {
        margin-bottom: 16px; }
    .form .form-title {
      font-size: 28px;
      line-height: 32px; }
    .form .textarea-block {
      width: 456px; } }

.header {
  background-color: #000; }

.header .header-inner {
  position: relative; }
  @media screen and (max-width: 599px) {
    .header .header-inner {
      margin-left: 16px;
      margin-right: 16px; } }
  @media screen and (min-width: 600px) and (max-width: 959px) {
    .header .header-inner {
      margin-left: 24px;
      margin-right: 24px; } }
  @media screen and (min-width: 960px) {
    .header .header-inner {
      width: 928px;
      margin-left: auto;
      margin-right: auto; } }

.header .logo {
  position: absolute;
  top: 12px;
  height: 20px;
  color: #fff;
  font-weight: bold;
  font-family: "PT Serif", "Times New Roman", Times, FreeSerif, serif;
  line-height: 20px; }

.header .logo:hover {
  text-decoration: underline; }

@media screen and (max-width: 599px) {
  .header .logo {
    font-size: 16px;
    right: 0; } }

@media screen and (min-width: 600px) {
  .header .logo {
    font-size: 18px;
    left: 0; } }

.header .nav-main {
  z-index: 10;
  font-size: 0; }

.header .nav-main li {
  height: 16px;
  color: #fff;
  opacity: 0.8;
  font-size: 14px;
  line-height: 16px;
  white-space: nowrap; }
  .header .nav-main li a:hover {
    text-decoration: underline; }

@media screen and (max-width: 599px) {
  .header .nav-main {
    position: absolute;
    left: 0;
    right: 0;
    top: 0; }
  .header .nav-main ul {
    position: absolute;
    top: 0;
    left: -16px;
    right: -16px;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 16px 48px 24px;
    text-align: center; }
  .header .nav-main li + li {
    margin-top: 24px; }
  .header .nav-main .toggle {
    position: absolute;
    top: 9px;
    left: 0;
    width: 30px;
    height: 29px;
    background: url(../images/header/hamburger.svg) 50% 50% no-repeat;
    background-size: 22px 16px; }
  .header .nav-main:not(.expanded) ul {
    display: none; } }

@media screen and (min-width: 600px) {
  .header .nav-main {
    position: absolute;
    top: 0;
    right: 0;
    height: 48px;
    margin-top: 16px; }
  .header .nav-main li {
    display: inline-block;
    vertical-align: top; }
    .header .nav-main li + li {
      margin-left: 24px; }
    .header .nav-main li.home, .header .nav-main li.active {
      display: none; }
  .header .nav-main .toggle {
    display: none; } }

.header.intro .background {
  position: absolute;
  left: 0;
  right: 0;
  overflow: hidden; }
  .header.intro .background::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../images/header/oleg-tumanov.jpg) 50% 100% no-repeat;
    background-size: auto 100%; }

.header.intro .header-inner::before {
  content: '';
  display: block;
  height: 1px;
  margin-bottom: -1px; }

@media screen and (max-width: 599px) {
  .header.intro {
    min-height: 274px;
    padding-bottom: 32px; }
    .header.intro .background {
      min-width: 320px;
      height: 274px; }
      .header.intro .background::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 68px;
        background-image: -webkit-linear-gradient(top, transparent, black);
        background-image: -o-linear-gradient(top, transparent, black);
        background-image: linear-gradient(to bottom, transparent, black); }
    .header.intro .intro-block {
      margin-top: 282px;
      margin-left: 8px;
      margin-right: 8px; } }

@media screen and (min-width: 600px) and (max-width: 959px) {
  .header.intro {
    min-height: 384px; }
    .header.intro .background {
      height: 384px; }
      .header.intro .background::before {
        margin-left: -224px; }
    .header.intro .intro-block {
      margin-top: 142px;
      margin-left: auto;
      margin-right: 8px; } }

@media screen and (min-width: 960px) {
  .header.intro {
    min-height: 575px; }
    .header.intro .background {
      top: 20px;
      height: 555px; }
      .header.intro .background::before {
        margin-left: -260px; }
    .header.intro .intro-block {
      margin-top: 176px;
      margin-left: auto;
      margin-right: 0; } }

.header.person {
  background-image: url(../images/header/oleg-tumanov.jpg);
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: auto 100%; }
  @media screen and (max-width: 599px) {
    .header.person {
      height: 176px; } }
  @media screen and (min-width: 600px) and (max-width: 959px) {
    .header.person {
      height: 208px; } }
  @media screen and (min-width: 960px) {
    .header.person {
      height: 352px; } }

.header.book .header-inner {
  padding-bottom: 48px; }

.header.book::after {
  content: '';
  display: block;
  background: #f9f9f9 url(../images/header/book-open.jpg) 50% 0 no-repeat;
  background-size: auto 100%; }
  @media screen and (max-width: 599px) {
    .header.book::after {
      height: 57px; } }
  @media screen and (min-width: 600px) and (max-width: 959px) {
    .header.book::after {
      height: 112px; } }
  @media screen and (min-width: 960px) {
    .header.book::after {
      height: 192px; } }

.intro-block h1 {
  color: #fff;
  font-family: "PT Serif", "Times New Roman", Times, FreeSerif, serif; }

.intro-block article {
  color: rgba(255, 255, 255, 0.7); }
  .intro-block article q::before {
    content: '«'; }
  .intro-block article q::after {
    content: '»'; }
  .intro-block article a {
    color: #fff;
    opacity: 0.9;
    text-decoration: underline;
    white-space: nowrap; }
    .intro-block article a:hover {
      opacity: 1; }

@media screen and (max-width: 599px) {
  .intro-block h1 {
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 16px; }
  .intro-block article {
    font-size: 13px;
    line-height: 18px; }
    .intro-block article + article {
      margin-top: 16px; } }

@media screen and (min-width: 600px) and (max-width: 959px) {
  .intro-block {
    width: 396px; }
  .intro-block::after {
    content: '';
    display: block;
    clear: both; }
  .intro-block h1 {
    font-size: 50px;
    line-height: 64px;
    margin-bottom: 16px; }
  .intro-block article {
    float: left;
    width: 190px;
    font-size: 14px;
    line-height: 18px; }
    .intro-block article + article {
      margin-left: 16px; } }

@media screen and (min-width: 960px) {
  .intro-block {
    width: 450px; }
  .intro-block::after {
    content: '';
    display: block;
    clear: both; }
  .intro-block h1 {
    font-size: 60px;
    line-height: 64px;
    margin-bottom: 32px; }
  .intro-block article {
    float: left;
    width: 209px;
    font-size: 16px;
    line-height: 20px; }
    .intro-block article + article {
      margin-left: 32px; } }

@media screen and (max-width: 599px) {
  .page-body {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 24px;
    padding-bottom: 48px; } }

@media screen and (min-width: 600px) and (max-width: 959px) {
  .page-body {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 24px;
    padding-bottom: 64px; } }

@media screen and (min-width: 960px) {
  .page-body {
    width: 928px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 64px;
    padding-bottom: 116px; } }

.page-signature {
  display: table;
  margin-left: auto;
  margin-top: 8px;
  color: #000;
  font-family: "PT Serif", "Times New Roman", Times, FreeSerif, serif; }

.page-signature span {
  display: block; }

@media screen and (max-width: 599px) {
  .page-signature {
    font-size: 14px;
    line-height: 20px; } }

@media screen and (min-width: 600px) and (max-width: 959px) {
  .page-signature {
    font-size: 15px;
    line-height: 22px; } }

@media screen and (min-width: 960px) {
  .page-signature {
    font-size: 16px;
    line-height: 24px; } }

.page-text {
  color: #000;
  font-family: "PT Serif", "Times New Roman", Times, FreeSerif, serif; }

.page-text p + p,
.page-text p + ul,
.page-text ul + p,
.page-text ul + ul {
  margin-top: 1em; }

.page-text ul {
  padding-left: 2em; }
  .page-text ul li {
    list-style-type: disc; }

.page-text a {
  text-decoration: underline;
  -webkit-text-decoration-color: rgba(0, 0, 0, 0.3);
  -moz-text-decoration-color: rgba(0, 0, 0, 0.3);
  text-decoration-color: rgba(0, 0, 0, 0.3); }

.page-text a:hover {
  -webkit-text-decoration-color: #000;
  -moz-text-decoration-color: #000;
  text-decoration-color: #000; }

@media screen and (max-width: 599px) {
  .page-text {
    font-size: 14px;
    line-height: 20px; } }

@media screen and (min-width: 600px) and (max-width: 959px) {
  .page-text {
    font-size: 15px;
    line-height: 22px; } }

@media screen and (min-width: 960px) {
  .page-text {
    font-size: 16px;
    line-height: 24px; } }

.page-title {
  font-family: "PT Serif", "Times New Roman", Times, FreeSerif, serif;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .page-title h1 {
    color: #292929;
    margin-right: 8px; }
  .page-title a {
    position: relative;
    top: 4px;
    color: #000;
    font-size: 16px;
    line-height: 24px;
    opacity: 0.8; }
    .page-title a {
      text-decoration: underline;
      -webkit-text-decoration-color: rgba(0, 0, 0, 0.3);
      -moz-text-decoration-color: rgba(0, 0, 0, 0.3);
      text-decoration-color: rgba(0, 0, 0, 0.3); }
    .page-title a:hover {
      -webkit-text-decoration-color: #000;
      -moz-text-decoration-color: #000;
      text-decoration-color: #000; }
  @media screen and (max-width: 599px) {
    .page-title {
      margin-bottom: 16px; }
      .page-title h1 {
        font-size: 26px;
        line-height: 32px; } }
  @media screen and (min-width: 600px) and (max-width: 959px) {
    .page-title {
      margin-bottom: 16px; }
      .page-title h1 {
        font-size: 36px;
        line-height: 48px; } }
  @media screen and (min-width: 960px) {
    .page-title {
      margin-bottom: 32px; }
      .page-title h1 {
        font-size: 44px;
        line-height: 48px; } }

.page-teasers article {
  position: relative; }
  .page-teasers article img {
    position: absolute;
    left: 0;
    top: 0; }
  .page-teasers article .item-title {
    color: #292929;
    font-family: "PT Serif", "Times New Roman", Times, FreeSerif, serif; }
    .page-teasers article .item-title a:hover {
      text-decoration: underline; }
  .page-teasers article div {
    color: #474747;
    font-size: 14px;
    line-height: 20px; }
  .page-teasers article .button {
    display: table; }

@media screen and (max-width: 599px) {
  .page-teasers {
    padding-top: 8px; }
  .page-teasers article {
    padding-left: 78px; }
    .page-teasers article img {
      width: 70px; }
    .page-teasers article .item-title {
      font-size: 28px;
      line-height: 32px; }
    .page-teasers article div {
      margin-top: 8px; }
    .page-teasers article .button {
      margin-top: 24px; }
    .page-teasers article + article {
      margin-top: 44px; } }

@media screen and (min-width: 600px) and (max-width: 959px) {
  .page-teasers {
    padding-top: 16px; }
  .page-teasers article {
    padding-left: 176px; }
    .page-teasers article img {
      width: 160px; }
    .page-teasers article .item-title {
      font-size: 36px;
      line-height: 48px; }
    .page-teasers article div {
      margin-top: 8px; }
    .page-teasers article .button {
      margin-top: 16px; }
    .page-teasers article + article {
      margin-top: 72px; } }

@media screen and (min-width: 960px) {
  .page-teasers {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 16px; }
  .page-teasers article {
    padding-left: 176px;
    width: 272px; }
    .page-teasers article img {
      width: 160px; }
    .page-teasers article .item-title {
      font-size: 44px;
      line-height: 48px; }
    .page-teasers article div {
      margin-top: 16px; }
    .page-teasers article .button {
      margin-top: 20px; } }

.purchase-block {
  position: relative;
  text-align: center;
  font-family: Roboto, Arial, Helvetica, FreeSans, sans-serif; }
  .purchase-block .book-front img,
  .purchase-block .book-back img {
    vertical-align: top;
    height: 100%; }
  .purchase-block .sellers .block-title {
    font-size: 14px;
    line-height: 20px; }
  .purchase-block .sellers ul {
    padding-left: 0; }
    .purchase-block .sellers ul li {
      list-style-type: none; }
      .purchase-block .sellers ul li img {
        vertical-align: top; }
  @media screen and (max-width: 599px) {
    .purchase-block {
      width: 288px;
      min-height: 175px;
      margin-right: auto;
      margin-top: 16px;
      margin-bottom: 24px; }
    .purchase-block.dynamic {
      display: none; }
    .purchase-block .book-front {
      position: absolute;
      left: 0;
      top: 0;
      height: 175px; }
    .purchase-block .book-back {
      display: none; }
    .purchase-block .sellers {
      display: table;
      margin-left: auto; }
      .purchase-block .sellers .block-title {
        margin-bottom: 16px; }
      .purchase-block .sellers ul li + li {
        margin-top: 8px; } }
  @media screen and (min-width: 600px) and (max-width: 959px) {
    .purchase-block {
      float: right;
      width: 139px;
      margin-left: 16px;
      margin-bottom: 16px; }
    .purchase-block.dynamic {
      display: none; }
    .purchase-block .book-front {
      height: 181px; }
    .purchase-block .book-back {
      display: none; }
    .purchase-block .sellers {
      margin-top: 14px; }
      .purchase-block .sellers .block-title {
        margin-bottom: 28px; }
      .purchase-block .sellers ul li + li {
        margin-top: 24px; } }
  @media screen and (min-width: 960px) {
    .purchase-block {
      float: right;
      width: 265px;
      margin-left: 32px;
      margin-top: -80px;
      margin-bottom: 32px; }
    .purchase-block .book-front {
      height: 344px; }
    .purchase-block .book-back {
      height: 275px; }
    .purchase-block .sellers {
      margin-top: 32px;
      margin-bottom: 48px; }
      .purchase-block .sellers .block-title {
        margin-bottom: 40px; }
      .purchase-block .sellers ul li + li {
        margin-top: 24px; } }

.reviews-block {
  background-color: #f9f9f9; }

.reviews-block .block-title {
  margin-bottom: 32px;
  color: #292929;
  font-family: "PT Serif", "Times New Roman", Times, FreeSerif, serif;
  font-size: 24px;
  line-height: 30px; }

.reviews-block .reviews-item {
  position: relative; }
  .reviews-block .reviews-item .text {
    font-size: 14px;
    line-height: 20px; }
    .reviews-block .reviews-item .text {
      color: #474747; }
    .reviews-block .reviews-item .text .more-link {
      text-decoration: underline;
      -webkit-text-decoration-color: rgba(71, 71, 71, 0.3);
      -moz-text-decoration-color: rgba(71, 71, 71, 0.3);
      text-decoration-color: rgba(71, 71, 71, 0.3); }
    .reviews-block .reviews-item .text .more-link:hover {
      -webkit-text-decoration-color: #474747;
      -moz-text-decoration-color: #474747;
      text-decoration-color: #474747; }

.reviews-block .link-wrapper {
  text-align: right; }
  .reviews-block .link-wrapper a {
    font-size: 14px;
    line-height: 20px; }
    .reviews-block .link-wrapper a {
      text-decoration: underline;
      -webkit-text-decoration-color: rgba(71, 71, 71, 0.3);
      -moz-text-decoration-color: rgba(71, 71, 71, 0.3);
      text-decoration-color: rgba(71, 71, 71, 0.3); }
    .reviews-block .link-wrapper a:hover {
      -webkit-text-decoration-color: #474747;
      -moz-text-decoration-color: #474747;
      text-decoration-color: #474747; }

@media screen and (max-width: 599px) {
  .reviews-block {
    margin-top: 44px; }
    .reviews-block {
      margin-left: -16px;
      margin-right: -16px;
      padding: 24px 16px; }
    .reviews-block .reviews-item + .reviews-item {
      margin-top: 16px; }
  .reviews-block .block-title {
    display: none; }
  .reviews-block .reviews-item {
    min-height: 70px; }
  .reviews-block .reviews-item .image {
    position: relative;
    float: left;
    margin-right: 8px; }
  .reviews-block .link-wrapper {
    margin-top: 24px; } }

@media screen and (min-width: 600px) and (max-width: 959px) {
  .reviews-block {
    margin-top: 48px; }
    .reviews-block {
      margin-left: -24px;
      margin-right: -24px;
      padding: 32px 24px; }
    .reviews-block .reviews-item + .reviews-item {
      margin-top: 32px; }
  .reviews-block .reviews-item {
    padding-left: 112px; }
    .reviews-block .reviews-item {
      min-height: 96px; }
    .reviews-block .reviews-item .image {
      position: absolute;
      left: 0;
      top: 0; }
  .reviews-block .link-wrapper {
    margin-top: 24px; } }

@media screen and (min-width: 960px) {
  .reviews-block {
    margin-top: 56px; }
    .reviews-block {
      margin-left: -20000px;
      margin-right: -20000px;
      padding: 41px 20000px; }
  .reviews-block .items-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .reviews-block .reviews-item {
    width: 336px;
    padding-left: 112px; }
    .reviews-block .reviews-item {
      min-height: 96px; }
    .reviews-block .reviews-item .image {
      position: absolute;
      left: 0;
      top: 0; }
  .reviews-block .link-wrapper {
    margin-top: 32px; } }

.reviews-item .image {
  background-color: #fff; }
  .reviews-item .image img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; }
  .reviews-item .image::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border: 1px solid #e7e7e7; }
  @media screen and (max-width: 599px) {
    .reviews-item .image {
      width: 70px;
      height: 70px; } }
  @media screen and (min-width: 600px) and (max-width: 959px) {
    .reviews-item .image {
      width: 96px;
      height: 96px; } }
  @media screen and (min-width: 960px) {
    .reviews-item .image {
      width: 96px;
      height: 96px; } }

.reviews-item .author {
  color: #000;
  font-family: "PT Serif", "Times New Roman", Times, FreeSerif, serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px; }

.reviews-item .text {
  margin-top: 8px; }
  .reviews-item .text .more-link {
    white-space: nowrap;
    cursor: pointer; }
  .reviews-item .text.collapsed .excerpt::after {
    content: '…'; }
  .reviews-item .text.collapsed .remain {
    display: none; }
  .reviews-item .text:not(.collapsed) .more-link {
    display: none; }

.reviews-list .block-text {
  font-size: 15px;
  line-height: 22px; }

.reviews-list .reviews-item {
  position: relative; }
  .reviews-list .reviews-item .text {
    font-family: "PT Serif", "Times New Roman", Times, FreeSerif, serif; }
    .reviews-list .reviews-item .text {
      color: #000; }
    .reviews-list .reviews-item .text .more-link {
      text-decoration: underline;
      -webkit-text-decoration-color: rgba(0, 0, 0, 0.3);
      -moz-text-decoration-color: rgba(0, 0, 0, 0.3);
      text-decoration-color: rgba(0, 0, 0, 0.3); }
    .reviews-list .reviews-item .text .more-link:hover {
      -webkit-text-decoration-color: #000;
      -moz-text-decoration-color: #000;
      text-decoration-color: #000; }

@media screen and (max-width: 599px) {
  .reviews-list {
    margin-bottom: 48px;
    padding-top: 8px; }
    .reviews-list .reviews-item {
      min-height: 70px; }
    .reviews-list .reviews-item .image {
      position: relative;
      float: left;
      margin-right: 8px; }
    .reviews-list .reviews-item .text {
      font-size: 14px;
      line-height: 20px; }
    .reviews-list .reviews-item + .reviews-item {
      margin-top: 32px; } }

@media screen and (min-width: 600px) and (max-width: 959px) {
  .reviews-list {
    margin-bottom: 48px;
    padding-top: 8px; }
    .reviews-list .reviews-item {
      padding-left: 112px; }
      .reviews-list .reviews-item {
        min-height: 96px; }
      .reviews-list .reviews-item .image {
        position: absolute;
        left: 0;
        top: 0; }
      .reviews-list .reviews-item .text {
        font-size: 15px;
        line-height: 22px; }
      .reviews-list .reviews-item + .reviews-item {
        margin-top: 48px; } }

@media screen and (min-width: 960px) {
  .reviews-list {
    margin-bottom: 96px; }
    .reviews-list .reviews-item {
      padding-left: 112px; }
      .reviews-list .reviews-item {
        min-height: 96px; }
      .reviews-list .reviews-item .image {
        position: absolute;
        left: 0;
        top: 0; }
      .reviews-list .reviews-item .text {
        font-size: 16px;
        line-height: 24px; }
      .reviews-list .reviews-item + .reviews-item {
        margin-top: 64px; } }
