@import '../_base/__';

//**
//* Apply block offsets and sizing
//* @param {number} container-offset-x
//* @param {number} container-pad-x
//* @param {number} [items-gap-y]
//* @applies-to .reviews-block
//*/
@mixin reviews-block__block-sizing($container-offset-x, $container-pad-y, $items-gap-y: null) {

    & {
        margin-left: -$container-offset-x;
        margin-right: -$container-offset-x;
        padding: $container-pad-y $container-offset-x;
    }

    @if type-of($items-gap-y) == 'number' {

        .reviews-item + .reviews-item {
            margin-top: $items-gap-y;
        }
    }
}
