@import '__';
@import '../reviews-item/__';

.reviews-block {
    $text-color: $_c__gray3;

    & {
        background-color: $_c__gray7;
    }

    .items-list {
        display: flex;
    }

    .reviews-item {
        position: relative;

        .image {
            position: absolute;
            left: 0;
            top: 0;
        }

        .text {
            @include reviews-item__text-color($text-color);
            font-size: 14px;
            line-height: 20px;
        }
    }


    @media #{$_l__w0-media} {
        @include reviews-block__block-sizing($_l__w0-canvas-offset-x, 3 * $_l__gap-unit,
            $reviews-item__w0-image-size, $_l__gap-unit);

        & {
            margin-top: 44px;
        }

        .items-list {
            flex-wrap: wrap;
        }

        .reviews-item + .reviews-item {
            margin-top: 2 * $_l__gap-unit;
        }
    }

    @media #{$_l__w1-media} {
        @include reviews-block__block-sizing($_l__w1-canvas-offset-x, 4 * $_l__gap-unit,
            $reviews-item__w1-image-size, 2 * $_l__gap-unit);

        & {
            margin-top: 6 * $_l__gap-unit;
        }

        .items-list {
            flex-wrap: wrap;
        }

        .reviews-item  + .reviews-item {
            margin-top: 4 * $_l__gap-unit;
        }
    }

    @media #{$_l__w2-media} {
        @include reviews-block__block-sizing($ultra-length, 41px, $reviews-item__w1-image-size, 2 * $_l__gap-unit);

        & {
            margin-top: 7 * $_l__gap-unit;
        }

        .items-list {
            justify-content: space-between;
        }

        .reviews-item {
            width: 336px;
        }
    }
}
