@import '__';
@import '../reviews-item/__';

.reviews-block {
    $text-color: $_c__gray3;

    & {
        background-color: $_c__gray7;
    }

    .block-title {
        margin-bottom: 4 * $_l__gap-unit;
        color: $_c__gray2;
        font-family: $_f__alternate;
        font-size: 24px;
        line-height: 30px;
    }

    .items-list {
        display: flex;
    }

    .reviews-item {
        position: relative;

        .text {
            @include reviews-item__text-color($text-color);
            font-size: 14px;
            line-height: 20px;
        }
    }

    .link-wrapper {
        text-align: right;

        a {
            font-size: 14px;
            line-height: 20px;
            @include _t__link-underline-opacity($text-color);
        }
    }


    @media #{$_l__w0-media} {

        & {
            margin-top: 44px;
            @include reviews-block__block-sizing($_l__w0-canvas-offset-x, 3 * $_l__gap-unit, 2 * $_l__gap-unit);
        }

        .block-title {
            display: none;
        }

        .items-list {
            flex-wrap: wrap;
        }

        .reviews-item {
            @include reviews-item__image-position($reviews-item__w0-image-size, $_l__gap-unit, false);
        }

        .link-wrapper {
            margin-top: 3 * $_l__gap-unit;
        }
    }

    @media #{$_l__w1-media} {

        & {
            margin-top: 6 * $_l__gap-unit;
            @include reviews-block__block-sizing($_l__w1-canvas-offset-x, 4 * $_l__gap-unit, 4 * $_l__gap-unit);
        }

        .items-list {
            flex-wrap: wrap;
        }

        .reviews-item  {
            @include reviews-item__image-position($reviews-item__w1-image-size, 2 * $_l__gap-unit);
        }

        .link-wrapper {
            margin-top: 3 * $_l__gap-unit;
        }
    }

    @media #{$_l__w2-media} {

        & {
            @include reviews-block__block-sizing($ultra-length, 41px);
            margin-top: 7 * $_l__gap-unit;
        }

        .items-list {
            justify-content: space-between;
        }

        .reviews-item {
            width: 336px;
            @include reviews-item__image-position($reviews-item__w2-image-size, 2 * $_l__gap-unit);
        }

        .link-wrapper {
            margin-top: 4 * $_l__gap-unit;
        }
    }
}
