@import '../_base/__';

$page-title__w0-offset-bottom: 2 * $_l__gap-unit;
$page-title__w0-font-size: 28px;
$page-title__w0-line-height: 32px;

$page-title__w1-offset-bottom: 2 * $_l__gap-unit;
$page-title__w1-font-size: 36px;
$page-title__w1-line-height: 48px;

$page-title__w2-offset-bottom: 4 * $_l__gap-unit;
$page-title__w2-font-size: 44px;
$page-title__w2-line-height: 48px;
