@import '__';

.page-title {
    font-family: $_f__alternate;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;

    h1 {
        color: $_c__gray2;
        margin-right: $_l__gap-unit;
    }

    a {
        $link-color: $_c__black;

        position: relative;
        top: 0.5 * $_l__gap-unit;
        color: $link-color;
        font-size: 16px;
        line-height: 24px;
        opacity: 0.8;
        @include _t__link-underline-opacity($link-color);
    }

    @media #{$_l__w0-media} {
        margin-bottom: $page-title__w0-offset-bottom;

        h1 {
            font-size: $page-title__w0-font-size;
            line-height: $page-title__w0-line-height;
        }
    }

    @media #{$_l__w1-media} {
        margin-bottom: $page-title__w1-offset-bottom;

        h1 {
            font-size: $page-title__w1-font-size;
            line-height: $page-title__w1-line-height;
        }
    }

    @media #{$_l__w2-media} {
        margin-bottom: $page-title__w2-offset-bottom;

        h1 {
            font-size: $page-title__w2-font-size;
            line-height: $page-title__w2-line-height;
        }
    }
}
