@import '__';
@import '../page-text/__';

.page-signature {

    & {
        display: table;
        margin-left: auto;
        margin-top: $_l__gap-unit;
        color: $_c__black;
        font-family: $_f__alternate;
    }

    span {
        display: block;
    }


    @media #{$_l__w0-media} {
        font-size: $page-text__w0-font-size;
        line-height: $page-text__w0-line-height;
    }

    @media #{$_l__w1-media} {
        font-size: $page-text__w1-font-size;
        line-height: $page-text__w1-line-height;
    }

    @media #{$_l__w2-media} {
        font-size: $page-text__w2-font-size;
        line-height: $page-text__w2-line-height;
    }
}
