{% include _top.html %}

<div class="layout-wrapper">
    {% include header.html type='book' nav_item=page.nav_item %}

    <main class="page-body">
        {% include page-title.html %}
        {% include purchase-block.html %}
        {% include page-text.html %}
        {% include download-block.html %}
        {% include feedback-items.html %}
        {% include form_feedback.html %}
        {% include form_contact.html %}
    </main>

</div>

{% include footer.html %}
{% include _bottom.html %}



